:root{
    --outline:rgba(0, 128, 128, 1);
    --form:rgba(0, 128, 128, 0.7);
    --inline:rgba(64, 224, 208, 0.699);

    --highlight:yellow;
    --dim:rgba(0, 0, 0, 0.7);;
    
    --exit:red;

    --very_fast_transition: all 0.1s ease-out;
    --fast_transition: all 0.25s ease-out;
    --normal_transition: all 0.5s ease-out;
    --slow_transition: all 1s ease-out;

    --border_thickness_light: 1px;
    --border_thickness_normal: 2px;
    --border_thickness_heavy: 5px;

    --border_light: var(--border_thickness_heavy) solid var(--outline);
    --border_normal: var(--border_thickness_heavy) solid var(--outline);
    --border_heavy: var(--border_thickness_heavy) solid var(--outline);
}

body {
    background-image: url("background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #eae5e0;;
}

img {
    border: var(--border_heavy);
    border-radius: 5%;
}

#portrait {
    max-width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    right: 0;
}

.left{
    margin-top: 0%;
    margin-right: 0%;
    width: 50%;
    height: 100%;
}

.right{
    float:right;
    width: 50%;
    height: 100%;
}

#portrait{
    float:right;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    transition: var(--normal_transition); 
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:var(--dim);
    visibility: hidden;
    cursor: default;
    opacity: 0;
}

.close_popup:target .overlay, .close_popup:target .popup {
    visibility: hidden;
    opacity: 0;
    transition: var(--normal_transition); 
}

.button, .menu_button, .fake_menu_button {
    font-size: 1em;
    line-height: 2.5em;
    padding: 0.2em;
    left:0px;
    top:0px;
    color: #fff;
    border: var(--border_thickness_heavy) solid var(--outline);
    text-decoration: none;
    cursor: pointer;
    background: var(--form);
}

.fake_menu_button {
    opacity: .5;
    cursor:default;
}

.button {
    border-radius: 20px/50px;
}

.button:hover, .menu_button:hover {
    background: var(--inline);
}

.popup {
    top: 5%;
    bottom: 5%;
    left: 10%;
    right: 10%;
    position: absolute;
    border-width: var(--border_thickness_heavy);
    background: var(--outline);
    border:var(--border_heavy);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
}

.overlay:target + .popup{
    visibility: visible;
    opacity: 1;
}

.popup-content {
    top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: #ffffffff;
    overflow-y: scroll;
}
.popup .close {
    position: relative;
    text-align:center;
    padding: 0%;
    top: 0;
    right: 0;
    height: 25px;
    width:25px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 0;
    border-width: 0px;
    text-decoration: none;
    color:black;
    float:right;
    line-height: 1em;
}

.popup .close:hover {
    color:var(--exit);
}

nav{
    width: auto;
    height: auto;
}
@media screen and (max-width : 820px) {
    
    nav{
        width: 6em;
        height: auto;
        float: right;
    }

    .menu_button, .fake_menu_button{
        display: block;
        width: 10em;
        margin-top: 0.5em;
        margin-right: 0.5em;
        line-height: 1em;
        float:right;
    }
} 
